---
layout: default
titleAfter: Stellar astronomical objects from the universe.
---

<h2>Types of Planets</h2>
	<ol>
		{% for planet in site.data.planet-types %}
			<li>
					<a href="{{site.baseurl}}/planets/{{planet.folder}}/">{{planet.title}}</a>
					{{planet.content | markdownify}}
			</li>
		{% endfor %}
	</ol>

<h2>Recently Discovered Planets</h2>
	<ul>
		{% for ews in site.categories.recently-discovered limit:2 %}
		  <li>
		    <a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
		    <p>{{post.meta}}</p>
		  </li>
		{% endfor %}
	</ul>

